<div class="container py-3 px-3 my-3 rounded" style="background:#E9ECEF">
    <div>
        <div class="row">
            <div class="col-sm-6">
                <app-progresso [progresso]="progresso"></app-progresso>
            </div>
            <div class="col-sm-6">
                <app-tentativas [tentativas]="tentativas"></app-tentativas>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h6>{{ instrucao }}</h6>
                <p>{{ rodadaFrase.fraseEN }}</p>

                <div class="form-group">
                    <textarea class="form-control" rows="3" (input)="atualizaResposta($event)"
                    [value]="resposta"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-end botaoVerificar"><button type="button" class="btn btn-primary" (click)="verificarResposta()">Verificar</button>
                </div>

            </div>
        </div>
    </div>
</div>